* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

main {
  padding: 1rem;
  height: 100vh;
}

/* Style inputs */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
}
